<main>

    <postar-sidebar></postar-sidebar>

    <div id="mail-list">
        <div *ngIf="router.url.startsWith('/inbox')"> <postar-inbox></postar-inbox> </div>
        <div *ngIf="router.url.startsWith('/sent')"> <postar-sent></postar-sent> </div>
        <div *ngIf="router.url.startsWith('/starred')"> <postar-starred></postar-starred> </div>
        <div *ngIf="router.url.startsWith('/drafts')"> <postar-drafts></postar-drafts> </div>
    </div>

    <postar-compose></postar-compose>

</main>
