<div class="postar-center">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            <h3>Log In</h3>
          </div>
          <div class="card-body">
            <form class="form">
              <h3>You are already logged in!</h3>
              <h4>Do you want to log out?</h4>
              <button (click)="LogOut()" type="button" class="btn btn-primary float-left">Log out</button>
              <button class="btn btn-secondary float-right"><a routerLink="/inbox" routerLinkActive="active">Home</a></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
