/* Global style variables */

/* TODO:
    1) add media querys for smaller devices
*/


:root {
    --header-height: 60px;
    --sidebar-width: 8rem;
    --compose-item-width: 250px;

    --font-size-S: 10px;
    --font-size-M: 14px;
    --font-size-L: 22px;

    --background-color1: rgb(200,200,200);
    --background-color2: rgb(224,224,224);

    --text-color1: black;
    --text-color2: white;

}


a {
    text-decoration: none;
    color:inherit;
}

a:hover {
    text-decoration: none;
    color:inherit;
}


body {
    background-color: var(--background-color1, white);
    color: var(--text-color1, black);
    padding: 0;
    margin: 0;
    /* transition: background 500ms ease-in-out, color 1000ms ease-in-out; */
}

.theme-default {
    --background-color1: rgb(200,200,200);
    --background-color2: rgb(224,224,224);
}


.theme-dark {
    --background-color1: gray;
    --background-color2: rgb(180,180,180);
}

.theme-funky {
    --background-color1: yellow;
    --background-color2: green;
}
