/* Global style variables */

/* TODO:
    1) add media querys for smaller devices,
    2) dark mode (change primary/secondary color)
*/


:root {
    --header-height: 60px;
    --sidebar-width: 8rem;

    /* TODO: font sizes*/
    --font-size-medium: 16px;

    /* TODO: dark mode*/
    --background-primary-color: white;
    --background-secondary-color: rgb(40,40,40);

    --text-primary-color: black;
    --text-secondary-color: white;

}


body {
    background-color: var(--background-primary-color, white);
    color: var(--text-primary-color, black);
}
