<!-- List header -->
<mat-card class="trash-list-header">

  <div class="left">
    <div> selected: {{ selectedChar() }} </div>
    <div id="none-selected" *ngIf="selectedChar() === 'None' else someSelected">
      <button mat-raised-button color="primary"
        (click)="refreshFolder()">
        refresh
      </button>
    </div>
    <ng-template #someSelected>
      <button mat-raised-button color="primary"
      (click)="restoreSelected()">
      restore selected
    </button>
    <button mat-raised-button color="warn"
    (click)="deleteSelected()">
      delete selected
      </button>
    </ng-template>
  </div>

  <div class="right">
  </div>

</mat-card>

<!-- List items -->
<postar-trash-item
*ngFor="let msg of messages"
  [msg]=msg
  [selected]="itemIsSelected(msg)"
  (selectEmitter)="onSelect($event)"
  (deleteForeverEmitter)="onDeleteForever($event)"
  (restoreEmitter)="onRestore($event)"
  >
</postar-trash-item>
