:host > * > * {
    cursor: pointer;
}

.trash-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid 0.5px black;
    padding: 5px;
    min-height: 40px;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.left > * {
    margin-right: 10px;
}

.right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

select {
    font-size: var(--font-size-M);
}
