<!-- List header -->
<mat-card class="trash-list-header">

  <div class="left">
    <div> selected: {{ selectedChar() }} </div>
    <div id="none-selected" *ngIf="selectedChar() === 'None' else deleteSelectedBlock">
      <button mat-raised-button color="primary"
        (click)="refreshFolder()">
        refresh
      </button>
    </div>
    <ng-template #deleteSelectedBlock>
      <!-- //TODO: implement delete selected  -->
      <button mat-raised-button color="warn">delete selected</button>
    </ng-template>

  </div>

  <div class="right">
  </div>

</mat-card>

<!-- List items -->
<postar-trashed-item
*ngFor="let msg of trashedMessages" [msg]=msg
  (selectEmitter)="onSelect($event)"
  (deleteForeverEmitter)="onDeleteForever($event)"
  (restoreEmitter)="onRestore($event)"
  >
</postar-trashed-item>
