<mat-card class="mail-list-header">

  <div class="mail-header-left">

    <div> selected: {{ selectedChar() }} </div>
    <div *ngIf="selectedChar() === 'None';
      else someSelected">
      <button mat-raised-button color="primary"
        (click)="refreshFolder()">
        refresh
      </button>
    </div>
    <ng-template #someSelected>
      <div>
        <button mat-raised-button color="warn"
          (click)="deleteSelected()">
          delete forever
        </button>
        <button mat-raised-button color="primary"
          (click)="restoreSelected()">
          restore
        </button>
      </div>
    </ng-template>

  </div> <!-- /mail-header-left -->

  <div class="mail-header-right">
  </div>

</mat-card> <!-- /mail-header -->

<!-- List items -->
<postar-list-tip
  *ngIf="!messages || messages.length === 0"
  [message]="'No trash here!'">
</postar-list-tip>

<postar-trash-item
*ngFor="let msg of messages"
  [msg]=msg
  [selected]="itemIsSelected(msg)"
  (selectEmitter)="onSelect($event)"
  (deleteForeverEmitter)="onDeleteForever($event)"
  (restoreEmitter)="onRestore($event)">
</postar-trash-item>
