<!-- List header -->
<mat-card class="draft-list-header">
    <div class="left">
      <div> selected: {{ selectedChar() }} </div>
      <div id="none-selected" *ngIf="selectedChar() === 'None'">
        <button mat-raised-button color="primary"
          (click)="refreshFolder()">
          refresh
        </button>
      </div>

    </div>

    <div class="right">
    </div>

  </mat-card>

  <!-- List items -->
  <postar-draft-item
  *ngFor="let draft of draftsList" [draft]=draft
    (selectEmitter)="onSelect($event)"
    >
  </postar-draft-item>
