<mat-card class="mail-list-header">

  <div class="mail-header-left">


    <!-- selectMenu -->
    <div class="selectMenuBtn">
      <postar-selected-icon
        [selectedChar]="selectedChar()"
        (toggle)="toggleAllSelected()">
      </postar-selected-icon>
      <mat-icon matTooltip="Select"
        style="cursor: pointer;"
        [matMenuTriggerFor]="selectMenu"
      >
        keyboard_arrow_down
      </mat-icon>
    </div>

    <mat-menu #selectMenu="matMenu">

      <button mat-menu-item (click)="selectAll()">
        <span>All</span>
      </button>
      <button mat-menu-item (click)="deselectAll()">
        <span>None</span>
      </button>

    </mat-menu>
    <!-- /selectMenu -->


    <!-- None Selected -->
    <div *ngIf="selectedChar() === 'None';
      else someSelected">


      <button mat-icon-button aria-label="Refresh folder button"
        (click)="refreshFolder()"
      >
        <mat-icon matTooltip="Refresh">
          refresh
        </mat-icon>
      </button>

      <!-- noneSelected3DotMenu -->
      <button mat-icon-button [matMenuTriggerFor]="noneSelected3DotMenu" aria-label="Extra options">
        <mat-icon matTooltip="More">
          more_vert
        </mat-icon>
      </button>
      <mat-menu #noneSelected3DotMenu="matMenu">
        <button mat-menu-item disabled>
          <span> Select messages to see more actions </span>
        </button>
      </mat-menu>
      <!-- /noneSelected3DotMenu -->


    </div>
    <!-- /None Selected -->


    <!-- Some Selected -->
    <ng-template #someSelected>
      <div>
        <button mat-icon-button aria-label="Delete selected drafts button"
          (click)="deleteSelected()">
            <mat-icon matTooltip="Discard">
              delete
            </mat-icon>
        </button>
      </div>

      <!-- someSelected3DotMenu -->
      <button mat-icon-button [matMenuTriggerFor]="someSelected3DotMenu" aria-label="Extra options">
        <mat-icon matTooltip="More">
          more_vert
        </mat-icon>
      </button>
      <mat-menu #someSelected3DotMenu="matMenu">
        <button mat-menu-item disabled>
          <span> No actions for this folder </span>
        </button>
      </mat-menu>
      <!--/someSelected3DotMenu -->

    </ng-template>
    <!-- /Some Selected -->


  </div> <!-- /mail-header-left -->

  <div class="mail-header-right">
    <span> Drafts: {{ draftsList.length }} </span>
  </div>

</mat-card> <!-- /mail-header -->

<!-- List items -->
<postar-list-tip
  *ngIf="!draftsList || draftsList.length === 0"
  [message]="'You don\'t have any saved drafts.'">
</postar-list-tip>

<postar-draft-item
*ngFor="let draft of draftsList"
  [draft]="draft"
  [selected]="itemIsSelected(draft)"
  (selectEmitter)="onSelect($event)"
  (deleteEmitter)="onDelete($event)">
</postar-draft-item>
