<div class="compose-item-medium">


  <div class="compose-item-menubar">
    <button class="compose-menubar-button">_</button>
    <button class="compose-menubar-button">◻️</button>
    <button class="compose-menubar-button" (click)="closeClick()">X</button>
  </div>


  <div class="compose-item-body">
    <form class="form">
      <!-- for testing only -->
      <label for="">id {{id}}</label>
      <!-- for testing only -->
      <div class="form-group">
        <label for="">To:</label>
        <input name="to" type="text" [(ngModel)]="this.data.to" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="">Subject</label>
        <input name="subject" type="text" [(ngModel)]="this.data.subject" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="">Message</label>
        <input name="msg" type="text" [(ngModel)]="this.data.msg" class="form-control" required>
      </div>
      <button (click)="send()" type="button" class="btn btn-primary float-left compose-send-btn">Send</button>
    </form>
  </div>


</div>
