<mat-card class="mail-item unselectable" [routerLink]="[router.url, msg.messageId]">
    <mat-checkbox (click)="$event.stopPropagation()"
      [checked]="isSelected"
      (change)="selectToggle()">select</mat-checkbox>
    <mat-checkbox (click)="$event.stopPropagation()"
      [checked]="msg.isStarred"
      (change)="star()">star</mat-checkbox>
    <button mat-raised-button color="warn" type="button" (click)="moveToTrash($event)">delete</button>
    <div class="mail-item-title" *ngIf="sentByMe; else From"> To: {{ msg.to }} </div>
    <ng-template #From>
        <div class="mail-item-title"> From: {{ msg.from }} </div>
    </ng-template>
</mat-card>
