:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    bottom: var(--header-height);
    margin: 0 0 var(--header-height) 0;
}

h3 {
    cursor: pointer;
}
