<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<postar-header *ngIf="shouldHeaderRender()" (clickEmitter)="sidenav.toggle()"></postar-header>

<main [ngClass]="{'under-header': shouldHeaderRender()}">

    <mat-sidenav-container style="height: inherit;">
      <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav">
        <postar-compose
          *ngIf="shouldSidebarRender()">
        </postar-compose>
        <postar-sidebar
          *ngIf="shouldSidebarRender()">
        </postar-sidebar>
      </mat-sidenav>

      <mat-sidenav-content>
        <div [ngClass]="{'right-of-sidebar': shouldSidebarRender()}">
          <router-outlet #routerOutlet="outlet" ></router-outlet>
        </div>

      </mat-sidenav-content>
    </mat-sidenav-container>

</main>
