<form>
  <div class="container wrapper">
    <div class="content-wrapper">

      <div class="welcome-wrapper">

        <div class="welcome-title-wrapper">
          <div class="row">
            <div class="col welcome-title">
              <label>Register</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="label-title" for="name">First name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Your name"
                [(ngModel)]="name"
                required
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="label-title" for="surname">Last name</label>
              <input
                type="text"
                class="form-control"
                id="surname"
                name="surname"
                placeholder="Your last name"
                [(ngModel)]="surname"
                required
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="label-title" for="email">Username</label>
              <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                placeholder="Your username"
                [(ngModel)]="email"
                required
              />
              <!-- TODO: Appendovati @post.ar na username/email -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="label-title" for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Your password"
                [(ngModel)]="password"
                required
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col" style="margin-top: 10px;">
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                id="retype-password"
                name="retype-password"
                placeholder="Please retype your password"
                [(ngModel)]="retypePassword"
                required
              />
            </div>
          </div>
        </div>

      </div> <!-- /welcome-wrapper -->

      <div class="login-and-register">

        <div class="row">
          <div class="col-md-4 text-center button-wrapper">
            <button
              type="submit"
              class="btn btn-primary login-button"
              (click)="registerUser()"
              [disabled]="!validParams()"
            >
              Register
            </button>
          </div>
        </div>

        <p class="login-warning" [style.visibility]="warning">
          Failed to register!
        </p>


      <!-- <div class="show-password">
        <div class="row">
          <div class="col">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1"
                [checked]="showPasswd" (change)="showPasswd=!showPasswd"
              >
              <label class="custom-control-label" for="customSwitch1">Show password</label>
            </div>
          </div>
        </div>
      </div> -->

        <div class="create-an-account-label">
          <label class="label"
            >Already have an account?
            <a
              routerLink="/login"
              routerLinkActive="active"
              class="register-link"
            >
              Sign in
            </a>.
          </label>
        </div>

      </div>

    </div> <!-- content-wrapper -->
  </div> <!-- container wrapper -->
</form>
