<form [formGroup]="registerForm" (ngSubmit)="registerUser()">
  <div class="container wrapper">
    <div class="content-wrapper">

      <div class="welcome-wrapper">

        <div class="welcome-title-wrapper">
          <div class="row">
            <div class="col welcome-title">
              <label>Register</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="label-title" for="name">First name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                formControlName="name"
                placeholder="Your name"
                required
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
              />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">First Name is required</div>
                <div *ngIf="f.name.errors.incorrectFormat">Incorrect format</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="label-title" for="surname">Last name</label>
              <input
                type="text"
                class="form-control"
                id="surname"
                name="surname"
                formControlName="surname"
                placeholder="Your last name"
                required
                [ngClass]="{ 'is-invalid': submitted && f.surname.errors }"
              />
              <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
                <div *ngIf="f.surname.errors.required">Last Name is required</div>
                <div *ngIf="f.surname.errors.incorrectFormat">Incorrect format</div>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="label-title" for="email">Username</label>
              <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                formControlName="email"
                placeholder="Your username"
                required
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback" >
                <div *ngIf="f.email.errors.required"> You must enter a username </div>
              </div>
              <!-- TODO: Appendovati @post.ar na username/email -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="label-title" for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                formControlName="password"
                placeholder="Your password"
                required
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">You must enter a password</div>
                <div *ngIf="f.password.errors.minLength">Password must contain at least 8 characters</div>
                <div *ngIf="f.password.errors.maxLength">Password must contain at most 32 characters</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col" style="margin-top: 10px;">
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                id="retype-password"
                name="retype-password"
                formControlName="retypePassword"
                placeholder="Please retype your password"
                required
                [ngClass]="{ 'is-invalid': submitted && f.retypePassword.errors }"
              />
              <div *ngIf="submitted && f.retypePassword.errors" class="invalid-feedback">
                <div *ngIf="f.retypePassword.errors.required">You must retype your password</div>
                <div *ngIf="f.retypePassword.errors.mustMatch">Passwords don't match</div>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- /welcome-wrapper -->

      <div class="login-and-register">

        <div class="row">
          <div class="col-md-4 text-center button-wrapper">
            <button
              type="submit"
              class="btn btn-primary login-button"
            >
              Register
            </button>
          </div>
        </div>

        <p class="login-warning" [style.visibility]="warning">
          Failed to register!
        </p>


      <!-- <div class="show-password">
        <div class="row">
          <div class="col">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1"
                [checked]="showPasswd" (change)="showPasswd=!showPasswd"
              >
              <label class="custom-control-label" for="customSwitch1">Show password</label>
            </div>
          </div>
        </div>
      </div> -->

        <div class="create-an-account-label">
          <label class="label"
            >Already have an account?
            <a
              routerLink="/login"
              routerLinkActive="active"
              class="register-link"
            >
              Sign in
            </a>.
          </label>
        </div>

      </div>

    </div> <!-- content-wrapper -->
  </div> <!-- container wrapper -->
</form>
