<form>
  <div class="container wrapper">
    <div class="content-wrapper">

      <div class="welcome-wrapper">

        <div class="welcome-title-wrapper">
          <div class="row">
            <div class="col welcome-title">
              <label>Login</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="label-title" for="exampleInputEmail1">Email address</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                name="email"
                placeholder="username@post.ar"
                [(ngModel)]="this.email"
                required
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="label-title" for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1"
                name="password"
                placeholder="Password"
                [(ngModel)]="this.password"
                required
              >
            </div>
          </div>
        </div>

      </div> <!-- welcome-wrapper -->

      <div class="remember-me">
        <div class="row">
          <div class="col">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1"
                [checked]="keepMeLoggedIn" (change)="keepMeLoggedIn = !keepMeLoggedIn"
              >
              <label class="custom-control-label" for="customSwitch1">Remember me</label>
            </div>
          </div>
        </div>
      </div>

      <div class="login-and-register">

        <div class="row">
          <div class="col-md-4 text-center button-wrapper">
            <button type="submit" class="btn btn-primary login-button" (click)="logIn()"
              [disabled]="!(email && password)"
            >
              Login
            </button>
          </div>
        </div>

        <p class="login-warning" [style.visibility]="warning">
          Failed to login!
        </p>


        <div class="row">
          <div class="col">
            <div class="create-an-account-label">
              <label class="label">New to Postar?
                <a routerLink="/register" routerLinkActive="active" class="register-link">
                  Create an account
                </a>.
              </label>
            </div>
          </div>
        </div>

      </div> <!-- login-and-register -->

    </div> <!-- content-wrapper -->
  </div> <!-- container wrapper -->
</form>
