<form [formGroup]="loginForm" (ngSubmit)="logIn()">
  <div class="container wrapper">
    <div class="content-wrapper">

      <div class="welcome-wrapper">

        <div class="welcome-title-wrapper">
          <div class="row">
            <div class="col welcome-title">
              <label>Login</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="label-title" for="email">Email address</label>
              <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                formControlName="email"
                placeholder="username@post.ar"
                aria-describedby="emailHelp"
                required
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              >
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <small *ngIf="f.email.errors.required">Email is required</small>
                <small *ngIf="f.email.errors.incorrectEmail">Incorrect email</small>
                <small *ngIf="f.email.errors.maxlength"> Email has at most {{ MAX_EMAIL_LEN }} characters </small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="label-title" for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                formControlName="password"
                placeholder="Password"
                required
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              >
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <small *ngIf="f.password.errors.required">Password is required</small>
                <small *ngIf="f.password.errors.minlength">Password has at least {{ MIN_PASSWD_LEN }} characters</small>
                <small *ngIf="f.password.errors.maxlength">Password has at most {{ MAX_PASSWD_LEN }} characters</small>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- welcome-wrapper -->

      <div class="remember-me">
        <div class="row">
          <div class="col">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1"
                [checked]="keepMeLoggedIn" (change)="keepMeLoggedIn = !keepMeLoggedIn"
              >
              <label class="custom-control-label" for="customSwitch1">Remember me</label>
            </div>
          </div>
        </div>
      </div>

      <div class="login-and-register">

        <div class="row">
          <div class="col-md-4 text-center button-wrapper">
            <button
              type="submit"
              class="btn btn-primary login-button"
            >
              Login
            </button>
          </div>
        </div>

        <p class="login-warning" [style.visibility]="warning">
          Failed to login!
        </p>


        <div class="row">
          <div class="col">
            <div class="create-an-account-label">
              <label class="label">New to Postar?
                <a routerLink="/register" routerLinkActive="active" class="register-link">
                  Create an account
                </a>.
              </label>
            </div>
          </div>
        </div>

      </div> <!-- login-and-register -->

    </div> <!-- content-wrapper -->
  </div> <!-- container wrapper -->
</form>
