<mat-card class="mail-item unselectable">

  <mat-checkbox
    (click)="$event.stopPropagation()"
    [checked]="selected"
    (change)="selectToggle()"
  ></mat-checkbox>

  <div>
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="$event.stopPropagation(); deleteDraft()"
    > delete
    </button>
  </div>

  <div class="mail-item-link" (click)="openCompose()">
    <div class="mail-item-title">
      <span> {{ 'Subject: ' + draftTitleSubject() }} </span>
      <span style="margin-left: 10px;"> {{ draft.to ? 'To: ' : '' }} </span>
      <span style="font-style: italic;"> {{ draftTitleRecepient() }} </span>
    </div>
  </div>

</mat-card>
