<mat-card class="mail-item unselectable">

  <mat-checkbox
    (click)="$event.stopPropagation()"
    [checked]="selected"
    (change)="selectToggle()"
  ></mat-checkbox>

  <div>
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="$event.stopPropagation(); deleteDraft()"
    > delete
    </button>
  </div>

  <div class="mail-item-link" (click)="OpenCompose()">
    <!-- TODO: Substring if len > max? -->
    <div class="mail-item-title">
      {{ draft.subject || '(no subject)' }} - {{ (draft.to || '(no to)') }}
    </div>
  </div>

</mat-card>
