.mail-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: solid 0.3px black; */
    padding: 5px;
    margin-top: 1px;
}

.mail-item:hover {
    background-color: var(--mail-item-background-color);
}

.mail-item-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.mail-item-center {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    /* TODO: Make height fit parent, Don't use padding for this */
    padding-top: 10px;
    padding-bottom: 10px;
    /* justify-content: center; */
}

.mail-item-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    visibility: hidden;
}

.mail-item:hover > .mail-item-right {
    visibility: visible;
}


.mail-item-left > *, .mail-item-center > * {
    margin-left: 20px;
    white-space: nowrap;
}

.mail-item-right > button {
    margin-right: 10px;
    white-space: nowrap;
}


.mail-item-title {
    font-size: var(--font-size-L);
}

.mail-item-title-bold {
    font-size: var(--font-size-L);
    font-weight: bold;
}

mat-card.mail-item {
    display: flex;
    padding: 0;
}

/* This is a hack to align mat-checkbox vertically */
mat-checkbox {
    padding-top: 7px;
}
