/* Look inside global-styles/compose-item.css */

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: auto;
    margin: 0;
    margin-left: 25px;
    z-index: 1;
    --compose-header-height: 30px;
}
