<!-- Minimized -->
<div *ngIf="this.editorData.size === 'minimized'" class="compose-item-minimized">

  <div class="compose-item-menubar">
    <span class="compose-item-menubar-left">
    </span>
    <div class="compose-item-menubar-right">
      <button class="compose-menubar-button" (click)="changeSize('normal')">
        <!-- <mat-icon>maximize</mat-icon> -->
        _
      </button>
      <button [ngClass]="['compose-menubar-button', 'maximized']" (click)="maximizeClick()">
        <!-- <mat-icon>open_in_full</mat-icon> -->
        □
      </button>
      <button class="compose-menubar-button" (click)="closeClick()">
        <!-- <mat-icon>close</mat-icon> -->
        X
      </button>
    </div>
  </div>

</div>
<!-- /Minimized -->


<!-- Normal -->
<div *ngIf="this.editorData.size === 'normal'" class="compose-item-medium">

  <div class="compose-item-menubar">
    <span class="compose-item-menubar-left">
    </span>
    <div class="compose-item-menubar-right">
      <button class="compose-menubar-button" (click)="changeSize('minimized')">
        <!-- <mat-icon>minimize</mat-icon> -->
        _
      </button>
      <button [ngClass]="['compose-menubar-button', 'maximized']" (click)="maximizeClick()">
        <!-- <mat-icon>open_in_full</mat-icon> -->
        □
      </button>
      <button class="compose-menubar-button" (click)="closeClick()">
        <!-- <mat-icon>close</mat-icon> -->
        X
      </button>
    </div>
  </div>

  <div class="compose-item-body">
    <form class="form">

      <mat-form-field>
        <mat-label for="">To</mat-label>
        <input matInput name="to" type="text" [(ngModel)]="editorData.msg.to" >
      </mat-form-field>

      <mat-form-field>
        <mat-label for="">Subject</mat-label>
        <input matInput name="subject" type="text" [(ngModel)]="editorData.msg.subject" >
      </mat-form-field>

      <mat-form-field>
        <mat-label for="">Message</mat-label>
        <textarea matInput name="msg" type="text" [(ngModel)]="editorData.msg.messageText"
          class="compose-textarea">
        </textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" type="button" (click)="clickSend()" [disabled]="sendBtnDisabled()" >Send</button>

    </form>
  </div>

</div>
<!-- /Normal -->
