
<div *ngIf="maximizedEditor !== null">
  <postar-maximized-compose-item
    [editorData]="maximizedEditor.data"
    (unMaximize)="unMaximizeEditor()"
    (closeMaximized)="closeMaximizedEditor($event)"
    (send)="onSend($event)">
  >
  </postar-maximized-compose-item>
</div>


<div id="compose-container">

  <postar-compose-item
    *ngFor="let editor of openEditors | slice: -MAX_OPEN"
    [editorData]="editor"
    (maximize)="maximizeEditor($event)"
    (closeEvent)="closeEditor($event)"
    (send)="onSend($event)">
  </postar-compose-item>

</div>
