<!-- TODO: add subject to message model... -->
<!-- TODO: make proper to or from check... -->
<mat-card>
  <mat-card-header>
    <mat-card-title> {{ this.msg.subject }}</mat-card-title>
    <mat-card-subtitle *ngIf="this.msg.from">  From: {{ this.msg.from }} </mat-card-subtitle>
    <mat-card-subtitle *ngIf="this.msg.to">  To: {{ this.msg.to }} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{ this.msg.content }}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="warn" (click)="onDelete()">delete</button>
    <button mat-button color="primary" (click)="onReply()">reply</button>
  </mat-card-actions>
</mat-card>
