
<div id="header-left">
  <button mat-icon-button
    (click)="onMenuClick()"
    matTooltip="Sidebar"
  >
    <mat-icon>menu</mat-icon>
  </button>
</div> <!-- /header-left -->


<div id="header-center">
  <h1><a id="header-title" [routerLink]="['/']">
  <img src="../../../../assets/logo.png" alt="Logo" width="100px" height="100px">
  </a></h1>
</div> <!-- /header-center -->


<div id="header-right">

  <button mat-icon-button
    (click)="toggleTheme()"
    matTooltip="Theme"
  >
    <mat-icon>style</mat-icon>
  </button>

  <div
    id="show-menu"
    [style.visibility]="showMenuBtnVisibile"
    (click)="dropdownHidden = !dropdownHidden"
    class="unselectable"
  >
    {{ letter }}
  </div>

  <mat-list id="dropdown-menu" [hidden]="dropdownHidden">

    <mat-list-item>
      {{ name }} {{ surname }}
    </mat-list-item>

    <mat-list-item>
      <a (click)="logOut()">Logout</a>
    </mat-list-item>

  </mat-list>

</div> <!-- /header-right -->
