
<div id="header-left">
</div>

<div id="header-center">
    <h1><a id="header-title" [routerLink]="['/']">Postar</a></h1>
</div>

<div id="header-right">
    <button (click)="toggleTheme()">change theme</button>

    <div id="show-menu" [style.visibility]="showMenuBtnVisibile"
        (click)="dropdownHidden=!dropdownHidden" class="unselectable"
    >
        {{ letter }}
    </div>
    <mat-list id="dropdown-menu" [hidden]="dropdownHidden">
        <mat-list-item><a (click)="logOut()">Logout</a></mat-list-item>
        <br>
        <mat-list-item> {{ name }} {{ surname }} </mat-list-item>
    </mat-list>

</div>
