
<div id="header-left">
</div>

<div id="header-center">
    <h1><a id="header-title" [routerLink]="['/']">Postar</a></h1>
</div>

<div id="header-right">
    <button (click)="toggleTheme()">change theme</button>

    <div id="show-menu" [style.visibility]="showMenuBtnVisibile"
        (click)="dropdownHidden=!dropdownHidden" class="unselectable"
    >
        {{ letter }}
    </div>
    <ul id="dropdown-menu" [hidden]="dropdownHidden">
        <a (click)="logOut()">Logout</a>
    </ul>

</div>
