<mat-card class="mail-list-header">

  <div class="left">
    <div> selected: {{ selectedChar() }} </div>
    <div id="none-selected" *ngIf="selectedChar() === 'None'; else deleteSelectedBlock">
      <button mat-raised-button color="primary" id="refresh-btn"
        (click)="folder.refreshFolder()">
        refresh
      </button>
    </div>
    <ng-template #deleteSelectedBlock>
      <button mat-raised-button color="warn"
        (click)="batchDelete()">
        delete selected
      </button>
      <button mat-raised-button color="primary"
        (click)="batchStar(true)">
        star
      </button>
      <button mat-raised-button color="primary"
        (click)="batchStar(false)">
        unstar
      </button>
    </ng-template>

  </div>

  <div class="right">
  </div>

</mat-card>

<postar-mail-item
*ngFor="let msg of messages"
  [msg]=msg
  [selected]="itemIsSelected(msg)"
  (selectEmitter)="onSelect($event)"
  (starEmitter)="onStar($event)"
  (moveToTrashEmitter)="onDelete($event)">
</postar-mail-item>
