<mat-card class="mail-list-header">

  <div class="mail-header-left">

    <div> selected: {{ selectedChar() }} </div>
    <div *ngIf="selectedChar() === 'None';
      else someSelected">
      <button mat-raised-button color="primary" id="refresh-btn"
        (click)="folder.refreshFolder()">
        refresh
      </button>
    </div>
    <ng-template #someSelected>
      <div>
        <button mat-raised-button color="warn"
          (click)="deleteSelected()">
          delete <!-- Looks better than "move to trash". -->
        </button>
        <button mat-raised-button color="primary"
          (click)="starSelected(true)">
          star
        </button>
        <button mat-raised-button color="primary"
          (click)="starSelected(false)">
          unstar
        </button>
      </div>
    </ng-template>

  </div> <!-- /mail-header-left -->

  <div class="mail-header-right">
  </div>

</mat-card> <!-- /mail-header -->

<!-- List items -->
<postar-list-tip
  *ngIf="!messages || messages.length === 0"
  [message]="emptyFolderTipText || 'Folder is empty!'">
</postar-list-tip>

<postar-mail-item
*ngFor="let msg of messages"
  [msg]=msg
  [selected]="itemIsSelected(msg)"
  (selectEmitter)="onSelect($event)"
  (starEmitter)="onStar($event)"
  (moveToTrashEmitter)="onDelete($event)">
</postar-mail-item>
