<mat-card class="mail-item unselectable">

  <!-- mail-item-left -->
  <div class="mail-item-left">

    <mat-checkbox
      [checked]="selected"
      (change)="selectToggle()"
    ></mat-checkbox>
  </div>

  <!--/mail-item-left -->


  <!-- mail-item-center -->
  <div class="mail-item-center" (click)="bodyClick()">

    <div class="mail-item-title" *ngIf="sentByMe; else From">
      To: {{ msg.to }}
    </div>
    <ng-template #From>
      <div class="mail-item-title">From: {{ msg.from || 'No sender' }}</div>
    </ng-template>

  </div>
  <!--/mail-item-center -->


  <!-- mail-item-right -->
  <div class="mail-item-right">

    <button mat-flat-button
      (click)="restore()"
    >
      Restore
    </button>

    <button mat-icon-button
      (click)="deleteForever()"
    >
      <mat-icon matTooltip="Delete forever">
        delete
      </mat-icon>
    </button>

  </div>
  <!--/mail-item-right -->



</mat-card>
